/* Buttons */
.btn{
    display: $dsp;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    gap: 10px; 
    border: 3px solid $border-color;
    border-radius: 4px;
    height: 48px; 
    & i{
        font-size: large;
    }
}
.primary{
    background: $standart-color;
    color: #FFFFFF; 
    border-color: $standart-color;
}
.primary:hover, .primary:focus{
    background: $active-color;
    border-color: $active-color;
    transition: all .3s ease-in;
}
.primary-disabled{
    background: $active-bg;
    color: $border-color;
    border-color: $active-bg;
    cursor: wait;
}
.primary-disabled:hover{
    background: $ebe-bg;
    color: $active-bg;
    border-color: $ebe-bg;
}
.primary-disabled:focus{
    background: $border-color;
    color: $active-bg;
    border-color: $border-color;
}
/* Secondary */
.secondary{
    background: #FFFFFF;
    border: 3px solid $standart-color;
    color: $standart-color; 
}
.secondary:hover, .secondary:focus{
    border-color: $active-color;
    color: $active-color;
    transition: all .3s ease-in;
}
.secondary-disabled{
    border-color: $border-color;
    color: $border-color;
}
.secondary-disabled:hover{
    background: $border-color;
    color: #FFFFFF;
    cursor: wait;
    transition: all .3s ease-out;
}
.secondary-disabled:focus{
    background: $ebe-bg;
    border-color: $ebe-bg;
}
/* Tertiary */
.tertiary{
    background: #FFFFFF;
    color: $standart-color;
    border-color: #FFFFFF; 
}
.tertiary:hover, .tertiary:focus{
    color: $active-color;
    background: $ebe-bg;
    border-color: $ebe-bg;
    transition: all .3s ease-in;
}
.tertiary-disabled{
    background: #FFFFFF;
    color: $border-color;
    border-color: #FFFFFF;
}
.tertiary-disabled:hover{
    border-color: $border-color;

    transition: all .3s ease-in;
    cursor: wait;
}
.tertiary-disabled:focus{
    background: $border-color;
    color: #FFFFFF;
}
/* Btn Round */
.btn-round{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 3px solid $border-color;
    border-radius: 999px;
    height: 48px;
    width: 48px;
    & i{
    font-size: 25px;
    }
}
.round-primary{
    background: $standart-color;
    color: #FFFFFF; 
    border-color: $standart-color;
}
.round-secondary {
    background-color: #FBFAFC;
    border-color: $standart-color;
    color: $standart-color;
}
.round-tretiary {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: $standart-color;
}
.round-primary_disabled{
    background: $ebe-bg;
    color: $border-color;
    border-color: $ebe-bg;
}
.round-secondary_disabled{
    background: #FFFFFF;
    color: $border-color;
    border-color: $border-color;
}
.round-tretiary_disabled{
    background: #FFFFFF;
    color: $border-color;
    border-color: #FFFFFF;
}
/* Button group */
.btn-left{
    border-radius: 4px 0 0 4px;
}
.btn-middle{
    border-radius: 0;
}
.btn-right{
    border-radius: 0 4px 4px 0;
}
.btn-group .btn{
    width: 100%;
}
.btn-group__wrap {
    display: $dsp;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 500px;
}