/* Inputs */
@mixin input{ 
    font-family: inherit;
    font-size: 18px;
    font-weight: $standart;
    line-height: 28px;
    color: currentColor;
    background: #FFFFFF;
    border: 2px solid $standart-color;
    border-radius: 4px; 
}
/* Input Botoom */
@mixin input-bottom{
    font-family: inherit;
    font-size: 1em;
    font-weight: $standart;
    color: $standart-color;
    border: 2px solid transparent;
    border-bottom: 2px solid $standart-color;
}
.input-field__input {
    height: 48px;
    @include input;
    padding-left: 16px;
    min-width: 250px;
}
@mixin rowfs{
    display: $dsp;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
@mixin rowce{
    display: $dsp;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.input-field__label {
    padding: 0;
    background: #FFFFFF;
    @include rowfs;
    position: absolute;
    margin-top: -60px;
    margin-left: 16px;
    color: $standart-color;
}

.label-disabled {
    color: $border-color
} 
.input-field__input:disabled, .input-field__label_disabled{
    color: $border-color;
}
.input-field__input:focus, 
.input-field__textarea:focus,
.input-field__date:focus,
.input-field__numerick:focus,
.input-field__select:focus,
.input-field__search:focus{
    border-color: $active-color;
    outline: none;
    color: $active-color;
    &  ~ .input-field__label{
        color: $active-color;
    }

}
/* Textarea */
.input-field__textarea{
    @include input;
    padding: 12px 16px;
    & ~ .input-field__label{
        margin-top: -10px;
    }
}
@mixin disabled{
    color: $border-color;
    border-color: $border-color;
}
.input-field__textarea::placeholder{
    color: $standart-color;
}

.input-field__textarea:disabled{
    @include disabled;
}
.input-field__textarea:disabled::placeholder{
    @include disabled;
}
/* Select */
@mixin sizeparam{
    width: 295px;
    height: 50px;
}
.input-field__select {
    @include sizeparam;
    @include input;
    padding-left: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    & option{
        font-size: inherit;
        line-height: inherit;
        font-weight: $bold;
        line-height: inherit; 
    }
   
}
.input-field__icon {
    position: absolute;
    margin-left: -30px;
    margin-top: 16px;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
}
.input-field__select:focus ~ .input-field__icon{
   color: $active-color;
}
.input-field__date {
   width: 280px;
   height: 50px;
   @include input;
   padding-left: 16px;
}
.input-field__date::-webkit-calendar-picker-indicator {
   font-size: 18px;
   font-family: inherit;
   padding-right: 16px;
}

.input-field__numerick {
   @include sizeparam;
   @include input;
   padding: 0 16px 0 16px;
}
.input-field__numerick:disabled{
    @include disabled;
}
/* Search Button */
.input-field__search{
    @include input;
    width: 290px;
    height: 50px;
    padding-left: 35px;
    padding-right: 16px;
}
.input-field__search:focus ~ .input-field__search-icon{
    color: $active-color;
}
.input-field__search:disabled{
    @include disabled;
}
.input-field__search-icon{
    position: absolute;
    margin-top: 15px;
    margin-left: -275px;
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
    color: $standart-color;
}
/* Radio Buttons */
.form-control {
    font-family: inherit;
    font-size: 18px;
    font-weight: $bold;
    line-height: 28px;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1em;
}
input[type='radio'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    font: inherit;
    color: currentColor;
    width: 30px;
    height: 30px;
    border: 3px solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type='radio']::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 300ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  input[type="radio"]:disabled{
    color: $border-color;
  }
  input[type="radio"]:disabled::before {
    background-color: $border-color;
  }

/* Checkboxes */
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 30px;
    height: 30px;
    border: 3px solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
input[type="checkbox"].square__check::before {
    content: "";
    width: 8px;
    height: 8px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}
input[type="checkbox"].standart__check::before {
    content: " ";
    width: 14px;
    height: 14px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: $standart-color;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
input[type=checkbox]:disabled {
	border-color: $border-color;
}
input[type=checkbox].square__check:disabled:before {
	background: $border-color;
}
input[type=checkbox].standart__check:disabled:before {
	background: $border-color;
}
/* Switches */
.checkbox-ios {
	display: inline-block;    
	height: 28px;    
	line-height: 28px;  
	margin-right: 10px;      
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;	
    display: grid;
    grid-template-columns: 2em auto;
    gap: 2em;
}
.checkbox-ios .checkbox-ios-switch {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 50px;	
	height: 30px;
	border: 3px solid currentColor;
	border-radius: 99px;	
	background: #FFFFFF;
	transition: .2s;
}
.checkbox-ios .checkbox-ios-switch:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;	
	display: inline-block;
	width: 18px;	
	height: 18px;
	border-radius: 99px;
	background: $standart-color;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}
.checkbox-ios input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-ios input[type=checkbox]:not(:disabled):active + .checkbox-ios-switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}
.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch {
	background: lavender;
}
.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
	transform:translateX(20px);
}
/* Disabled */
input[type=checkbox]:disabled + .checkbox-ios-switch {
	border-color: $border-color;
}
input[type=checkbox]:disabled + .checkbox-ios-switch:before {
	background: $border-color;
}