@import "_variables.scss";

@font-face{
    font-family: 'Poppins';
    src: local('Poppins'),
      url('../fonts/Poppins-Regular.ttf')

}

/* Typography */
h1{ 
    font-family: $popins, sans-serif;
    font-size: 54px;
 }
 h2{
    font-family: $popins, sans-serif;
    font-size: 40px;
 }
 h3{
    font-family: $popins, sans-serif;
    font-size: 32px;
 }
 h4{
    font-family: $popins, sans-serif;
    font-size: 25px;
 }
 .subheading-first {
    font-family: $popins, sans-serif;
    font-weight: 400;
    font-size: 53px;
 }
 .subheading-second {
    font-family: $popins, sans-serif;
    font-weight: 400;
    font-size: 39px;
 }
 .subheading-third {
    font-family: $popins, sans-serif;
    font-weight: 400;
    font-size: 32px;
 }
 .subheading-four {
    font-family: $popins, sans-serif;
    font-weight: 400;
    font-size: 25px;
 }
 .body-text {
    font-family: $popins, sans-serif;
    font-weight: $bold;
    font-size: 25px;
 }
 .text-body {
    font-family: $popins, sans-serif;
    font-weight: $standart;
    font-size: 18px;
 }
 .body-bold, .label-bold {
    font-family: $popins, sans-serif;
    font-weight: $bold;
    font-size: 18px;
 }
 .text-small, .text-label{
    font-family: $popins, sans-serif;
    font-weight: $standart;
    font-size: 1em;
 }
 .small-bold {
    font-family: $popins, sans-serif;
    font-weight: $bold;
    font-size: 1em;
 }
 .text-micro {
    font-family: $popins, sans-serif;
    font-weight: $standart;
    font-size: 14px;
 }
 .micro_bold {
    font-family: $popins, sans-serif;
    font-weight: $bold;
    font-size: 14px;
 }
 