// Flex Display Variables
$dsp: flex;
$fd: column;
$ai: flex-start;
// Others
$popins: 'Poppins';
$bshd: 0px 0px 40px rgba(0, 0, 0, 0.1);
$bold: 700;
$standart: 500;
$lh: 150%;
// Colors
$standart-color:#212121;
$active-color: #01579b;
$border-color: #B9B7BD;
$get-blue: #0091ea;
$active-bg: #FBFAFC;
$ebe-bg: #EBE9F0;